@use "../main";

.portfolio-tag {
  padding: 0.25rem 0.6rem;
  border-radius: 6px;
  p {
    font-size: 1.2ch;
    font-weight: main.$semibold;
  }
}

.React {
  background: #c7f3fc;
}
.TypeScript {
  background: #799aff;
}
.Next {
  background: #000000;
  p {
    color: #ffffff;
  }
}
.Netlify {
  background: #83ffde;
}
.JavaScript {
  background: #f0e050;
}
.jQuery {
  background: #1f2c74;
  p {
    color: #ffffff;
  }
}
.MySQL {
  background: #4ca5bb;
  p {
    color: #ffffff;
  }
}
.AWS {
  background: #facc35;
}
.Express {
  background: #4b4b4b;
  p {
    color: #ffffff;
  }
}
.Cloudinary {
  background: #4361f6;
  p {
    color: #ffffff;
  }
}
.TailwindCSS {
  background: #06b6d4;
  p {
    color: #ffffff;
  }
}
