@use "../main";

.social-button {
  border: 2px solid black;
  border-radius: 10px;
  width: 16rem;

  .sb__content {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .sb-left {
      width: 3rem;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
